[Unit]
Description=AutomaticBluetooth service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/automaticbluetooth/automaticbluetooth.py

[Install]
WantedBy=multi-user.target
